html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}

#container {
    background-color: #f9f9f9;
    border-radius: 15px;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px auto;
    padding: 10px;
    width: 100%;
    height: 100vh;
}

.go-home {
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    padding: 12px 12px;
    position: fixed;
    text-align: center;
    top: 16px;
    left: 10px;
}

a.go-home {
    background-color: darkred;
    color: #f9f9f9;
    text-decoration: none;
}

a.go-home:hover {
    filter: grayscale(1);
    opacity: 0.7;
}

.main-title {
    color: rgb(10, 10, 71);
    font-size: 3em;
    text-align: center;
}

.intro {
    background-color: darkred;
    border-radius: 25px 0 25px 0;
    color: rgb(255, 255, 255);
    margin: 25px auto;
    padding: 10px;
    text-align: center;
    width: 70%;
}

.intro h2, 
.intro p {
    margin: 25px auto;
    padding: 20px;
    text-align: justify;
}

.intro h2 {
    font-size: 35px;
    text-align: left;
    /* margin: 15px auto; */
    padding: 20px;
}

.intro p {
    font-size: 1.2em;
    text-align: justify;
    width: 100%;
}

/* Food Photo */

.food-photo {
    margin: 25px auto;
    padding: 15px;
    text-align: center;
    width: 80%;
}

.food-photo img {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 15%;
    padding: 5px;
}

/* Menu Cards */

.card-container {
    margin: 25px auto;
    padding: 0 25px;
    text-align: center;
    width: 70%;
}

.card {
    background-color: #f9f9f9;
    border: 2px solid darkred;
    border-radius: 7px;
    margin: 25px auto;
    padding: 15px;
}

.card h3 {
    color: rgb(10, 10, 71);
    font-size: 1.5em;
}

.card ul {
    list-style: none;
    margin: 25px auto;
    padding: 25px;
}

.card ul li {
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
    padding: 15px;
}

/* Recipe Cards */

.recipe-ingredients,
.recipe-steps {
    background-color: #f9f9f9;
    border: 2px solid darkred;
    border-radius: 7px;
    margin: 25px auto;
    padding: 15px;
    text-align: left;
}

/* Card Link Styles */

.card ul li a,
.card ul li a:visited {
    color: darkred;
    text-decoration: none;
}

.card ul li a:hover, 
.card ul li a:visited {
    color: rgb(10, 10, 71);
}

/* Footer */

#footer {
    background-color: rgb(10, 10, 71);
    border-radius: 25px 25px 0 0;
    color: #f9f9f9;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 70%;
}

#footer ul {
    list-style: none;
    margin: 10px auto;
    padding: 5px;
}

#footer ul li {
    margin: 0 auto;
    padding: 10px;
}

#footer h2 {
    font-size: 2em;
}

#footer ul li a {
    color: rgb(201, 201, 201);
    text-decoration: none;
}

#footer ul li a:hover {
    color: rgb(107, 255, 243);
}
